.vscode/**
.github/**
node_modules/**
src/**
lua/**
colors/**
resources/screenshots/**
resources/icon/chalkdraw-icon-*.png
resources/icon/chalkdraw-icon.svg
*.vsix
.DS_Store
**/.DS_Store
.gitignore
scripts/**
